<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MiAuDota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="Publico" asp-controller="Home" asp-action="Index">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmexK41kTYytSYP8D2SDbnCZnuC6Ps0a8yXw&usqp=CAU" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                MiAuDota
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="Publico" asp-controller="Animal" asp-action="Index">Animais</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-body">
            <a asp-area="Administradores" asp-controller="Logout" asp-action="Logout" class="btn btn-primary">Sair</a>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary w-auto m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Cadastrar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cadastre-se</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <a asp-area="Publico" asp-controller="Usuario" asp-action="Cadastrar" class="btn btn-primary">Quero adotar (Usuário)</a>
                    </div>
                    <div class="modal-body">
                        <a asp-area="Publico" asp-controller="Protetor" asp-action="Cadastrar" class="btn btn-primary">Quero divulgar um animal (Protetor)</a>
                    </div>
                    <div class="modal-footer">
                        ...
                    </div>
                </div>
            </div>
        </div>

    </nav>
</head>

<body>
    <div class="bg-image"
        <div style="background-image: url('https://t4.ftcdn.net/jpg/00/26/80/33/360_F_26803377_fFNCrwUbzm7Ye6b3UP15VHwzWqU0Xcs3.jpg');"></div>
    </div>
    @RenderBody()
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>