@model LogonViewModel

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Login | MiAuDota</title>

    <link rel="apple-touch-icon" href="~/theme/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/theme/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/theme/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/theme/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/theme/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/theme/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/theme/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/theme/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/theme/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/theme/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/theme/assets/examples/css/pages/login.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/theme/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/theme/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="~/theme/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/theme/global/vendor/media-match/media.match.min.js"></script>
    <script src="~/theme/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="~/theme/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition page-login layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        >
        <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
            <div class="brand">
                <img class="brand-img" src="~/theme/assets//images/logo.png" alt="...">
                <h2 class="brand-text">MIAUDOTA</h2>
            </div>
            <p>Faça login na sua conta</p>
            <form asp-controller="AcessoUsuario" asp-action="Logon" method="post">
                <div class="form-group">
                    <label asp-for="Email" class="sr-only" for="inputEmail">Email</label>
                    <input asp-for="Email" type="text" class="form-control" id="inputEmail" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="sr-only" for="inputPassword">Senha</label>
                    <input asp-for="Senha" type="password" class="form-control" id="inputPassword" name="password"
                           placeholder="Password">
                </div>
                <div class="form-group clearfix">
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" id="inputCheckbox" name="remember">
                        <label for="inputCheckbox">Salvar credenciais</label>
                    </div>
                    <a class="float-right" href="forgot-password.html">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <p>Não possue uma conta? Por favor, registre-se. <a href="register.html">Registre-se</a></p>

            <footer class="page-copyright page-copyright-inverse">
                <p>WEBSITE BY MiAuDota</p>
                <p>© 2022. MIAUDOTA.</p>
            </footer>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="~/theme/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/theme/global/vendor/jquery/jquery.js"></script>
    <script src="~/theme/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="~/theme/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/theme/global/vendor/animsition/animsition.js"></script>
    <script src="~/theme/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/theme/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/theme/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/theme/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/theme/global/vendor/switchery/switchery.js"></script>
    <script src="~/theme/global/vendor/intro-js/intro.js"></script>
    <script src="~/theme/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/theme/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/theme/global/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Scripts -->
    <script src="~/theme/global/js/Component.js"></script>
    <script src="~/theme/global/js/Plugin.js"></script>
    <script src="~/theme/global/js/Base.js"></script>
    <script src="~/theme/global/js/Config.js"></script>

    <script src="~/theme/assets/js/Section/Menubar.js"></script>
    <script src="~/theme/assets/js/Section/GridMenu.js"></script>
    <script src="~/theme/assets/js/Section/Sidebar.js"></script>
    <script src="~/theme/assets/js/Section/PageAside.js"></script>
    <script src="~/theme/assets/js/Plugin/menu.js"></script>

    <script src="~/theme/global/js/config/colors.js"></script>
    <script src="~/theme/assets/js/config/tour.js"></script>
    <script>Config.set('assets', '~/theme/assets');</script>

    <!-- Page -->
    <script src="~/theme/assets/js/Site.js"></script>
    <script src="~/theme/global/js/Plugin/asscrollable.js"></script>
    <script src="~/theme/global/js/Plugin/slidepanel.js"></script>
    <script src="~/theme/global/js/Plugin/switchery.js"></script>
    <script src="~/theme/global/js/Plugin/jquery-placeholder.js"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
</body>
</html>
