@model ProtetorCadastrarViewModel

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miaudota - Cadastro Protetor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style type="text/css">
        body {
            background-color: #FDECEB;
        }

        h5 {
            color: #8E37A6;
            font-weight: 500;
            font-size: 18px;
            margin: 0;
        }

        .brand-img {
            max-width: 200px;
            max-height: 150px
        }

        .form-label {
            color: #582B5C;
            font-size: 16px;
            font-weight: 500;
        }

        .form-check-label {
            color: #582B5C;
            font-size: 16px;
            font-weight: 500;
        }

        .form-control {
            border-color: #582B5C;
        }

        .form-check-input {
            border-color: #582B5C;
        }

            .form-check-input:checked {
                background-color: #582B5C;
                border-color: #582B5C;
            }

        .brand {
            margin: 20px 0;
        }

        .initial-text {
            margin: 0 0 20px 0;
        }

        .btn-salvar{
            background-color: #582b5cc9;
            border-color: #582b5cc9;
            border-width: 1px;
            border-radius: 0.375rem;
            color: white;
            padding: 6px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

                .btn-salvar:hover {
                    background-color: #582B5C;
                    border-color: #582B5C;
                    color: white;
                }

    </style>
</head>

<body>
    <div class="mx-auto" style="width: 500px;">
        <div class="page vertical-align text-center">
            <div class="brand">
                <img class="brand-img" src="~/theme/assets//images/logopreview.png.png" />
            </div>
            <div class="initial-text">
                <h5>Novo por aqui?</h5>
                <h5>Cadastre-se para divulgar seus animais.</h5>
            </div>
        </div>

        <form asp-action="Cadastrar" method="POST" class="row g-3">
            <div class="col-12">
                <label asp-for="Nome" class="form-label">Nome Completo</label>
                <input asp-for="Nome" class="form-control">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Cnpj" class="form-label">CNPJ</label>
                <input asp-for="Cnpj" class="form-control">
            </div>
            <div class="col-md-6">
                <label asp-for="Cpf" class="form-label">CPF</label>
                <input asp-for="Cpf" class="form-control">
            </div>
            <div class="col-12">
                <label asp-for="Endereco" class="form-label">Endereço Completo</label>
                <input asp-for="Endereco" class="form-control" placeholder="Rua XV de Novembro, 123 Centro, Blumenau SC">
            </div>
            <div class="col-md-4">
                <label asp-for="Telefone" class="form-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" placeholder="(00) 0000-0000">
            </div>
            <div class="col-md-4">
                <label asp-for="Celular" class="form-label">Celular</label>
                <input asp-for="Celular" class="form-control" placeholder="(00) 00000-0000">
            </div>
            <div class="col-md-4">
                <label asp-for="Pix" class="form-label">PIX</label>
                <input asp-for="Pix" class="form-control">
            </div>
            <div class="col-md-6">
                <label asp-for="Instagram" class="form-label">Instagram</label>
                <input asp-for="Instagram" class="form-control">
            </div>
            <div class="col-md-6">
                <label asp-for="Facebook" class="form-label">Facebook</label>
                <input asp-for="Facebook" class="form-control">
            </div>
            <div class="col-12">
                <label asp-for="Email" class="form-label" span-required="">Email</label>
                <input asp-for="Email" class="form-control" placeholder="seuemail@exemplo.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Senha" class="form-label" span-required="">Senha</label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ConfirmarSenha" class="form-label" span-required="">Confirmar senha</label>
                <input asp-for="ConfirmarSenha" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>

            @* <div class="position-relative" style="padding-top: 50px">
            <div class="text-end">
            <div class="position-absolute bottom-0 end-0">
            <a asp-action="Cadastrar"> </a> <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
            </div>
            </div>
            </div>*@

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-action="Cadastrar" /> <button type="submit" class="btn-salvar">Salvar</button>
            </div>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>