@model ProtetorCadastrarViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body style="background-color: #FDECEB">
    <div class="mx-auto" style="width: 500px;">
        <div class="page vertical-align text-center">
            <div class="brand">
                <img class="brand-img" src="~/theme/assets//images/logoteste.png-removebg-preview.svg"
                     style="max-width: 200px; max-height: 150px; ">
            </div>
            <div style="color: #8E37A6; font-weight: bold; font-size: 20px">
                <h5>É novo por aqui?</h5>
                <h5>Cadastre-se para divulgar seus animais.</h5>
            </div>
            
        </div>
        
        <form asp-action="Cadastrar" method="POST" class="row g-3">
            <div class="col-12">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" class="form-control">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Cnpj" class="form-label">Cnpj</label>
                <input asp-for="Cnpj" class="form-control">
            </div>
            <div class="col-md-6">
                <label asp-for="Cpf" class="form-label">Cpf</label>
                <input asp-for="Cpf" class="form-control">
            </div>
            <div class="col-12">
                <label asp-for="Endereco" class="form-label">Endereço Completo</label>
                <input asp-for="Endereco" class="form-control" placeholder="Rua XV de Novembro, 123 Centro, Blumenau SC">
            </div>
            <div class="col-md-4">
                <label asp-for="Telefone" class="form-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" placeholder="47 3300-2222">
            </div>
            <div class="col-md-4">
                <label asp-for="Celular" class="form-label">Celular</label>
                <input asp-for="Celular" class="form-control" placeholder="47 98800-2222">
            </div>
            <div class="col-md-4">
                <label asp-for="Pix" class="form-label">Pix</label>
                <input asp-for="Pix" class="form-control">
            </div>
            <div class="col-md-6">
                <label asp-for="Instagram" class="form-label">Instagram</label>
                <input asp-for="Instagram" class="form-control">
            </div>
            <div class="col-md-6">
                <label asp-for="Facebook" class="form-label">Facebook</label>
                <input asp-for="Facebook" class="form-control">
            </div>
            <div class="col-12">
                <label asp-for="Email" class="form-label" span-required=""></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Senha" class="password" span-required=""></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ConfirmarSenha" class="password" span-required=""></label>
                <input asp-for="ConfirmarSenha" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>

            <div class="position-relative" style="padding-top: 50px">
                <div class="text-end">
                    <div class="position-absolute bottom-0 end-0">
                        <a asp-action="Cadastrar"> </a> <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>