@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="">Index Publico</h5>
</div>

<div class="text-center">
    <img src="https://media.istockphoto.com/vectors/cat-and-dog-head-icon-vector-id1164725318?k=20&m=1164725318&s=170667a&w=0&h=sA0hiNKnjWYhePE-oBe-1eAdXttrvC1NzTJRr4gY8fU=" class="rounded" alt="...">
</div>