@{
    ViewData["Title"] = "Home page";
}

<head>
    <style type="text/css">
        body {
            background-image: linear-gradient(90deg, #FDE3F0 0%, #FA9FCA 50.52%, #FDE3F0 100%);
        }

        h3 {
            color: #8E37A6;
            font-weight: 500;
            font-size: 30px;
            margin: 0;
            padding-top: 10px;
        }

        article ul{
           font-size: 0; /* elimina espaços entre as li */


        }

        article ul li img{
           width: 100%; /* ajusta a largura da imagem dentro da li */
           display: block; /* convertendo para block elimina espaço natural abaixo da imagem */
           border-radius: 10px;
        }

        article ul, article ul li{ /* remove espaços e o bullet da ul e das li */
           list-style: none;
           margin: 0;
           padding: 0;
        }

        article ul li{
           display: inline-block;
           width: 25%; /* divide a largura por 4 */
           box-sizing: border-box; /* restringe o padding à área da li */
           text-align: center; /* centraliza o conteúdo */
           padding: 15px; /* espaçamento interno entre o conteúdo e a borda da li */
           font-size: 16px; /* ajusta o tamanho da fonte nas li com o tamanho padrão */
           vertical-align: top; /* alinha as li no topo da linha */
        }

    </style>
</head>
<body>
    <header style="text-align: center">
        <h3><b>Veja aqui os finais felizes e depoimentos.</b></h3>
    </header>
    <article>
        <ul>
            <li>
                <img src="~/theme/assets/images/xarope.png">
                <h4><a href="https://localhost:7194/logon/Logon">XAROPE</a></h4>
                <h5>
                    Xarope é um cachorrinho de 2 anos, gentil e carinhoso
                    a familia ta amando a interação dele com as crianças, fofo né?
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/cleber.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">CLEBER</a></h4>
                <h5>
                    O gatinho Cleber tem 2 aninhos, foi adotado ainda no ano de 2022.
                    Preguiçoso e carinhoso a familia relata que ele ama raçãozinha com patê.
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/squad.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">SQUAD MAD</a></h4>
                <h5>
                    Loucura adotar 2 né? Imagina adotar 7,
                    é o caso dessa familia, que adora tanto o site que adotou logo 7 gatinhos.
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/teste.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">HUGO</a></h4>
                <h5>
                    O Hugo tem 1 aninho e ele ta sendo tão bem cuidado pelos novos papais que hoje ele faz até comercial de TV
                    Lindo né?!
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/teste2.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">CACAU</a></h4>
                <h5>
                    Cacau foi abandonada ainda filhote, e com 4 anos foi adotada por uma familia maravilhosa. Hoje ela é muito feliz e amada!
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/sosteste.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">BILIH</a></h4>
                <h5>
                    Bilih ainda é um filhote, tem apenas 50 dias. Mas já faz bastante bagunça com os irmãozinhos humanos dele. Um fofo né?
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/sansao.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">SANSÃO</a></h4>
                <h5>
                    TEXTO AQUI
                </h5>
            </li>
            <li>
                <a href="#"><img src="~/theme/assets/images/fofoX.png"></a>
                <h4><a href="https://localhost:7194/logon/Logon">FOFOX</a></h4>
                <h5>
                    TEXTO AQUI.
                </h5>
            </li>

        </ul>
    </article>



    @*<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active mx-auto" data-bs-interval="10000">
    <div>
    <img src="~/theme/assets/images/bebel.png" class="d-block w-45 mx-auto">
    </div>

    <div class="carousel-caption d-none d-md-block">
    <h5>BEBEL</h5>
    <p>
    Bebel é uma cadelinha dócil, tem 4 anos de idade e é sem raça definida.</br>
    Foi adotada em Agosto de 2020, na pandemia, hoje ela vive feliz com a sua familia.
    </p>
    </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
    <img src="~/theme/assets/images/cleber.png" class="d-block w-45 mx-auto">
    <div class="carousel-caption d-none d-md-block">
    <h5><b>CLEBER</b></h5>
    <p>
    O gatinho Cleber tem 2 aninhos, foi adotado ainda no ano de 2022.</br>
    Preguiçoso e carinhoso a familia relata que ele ama raçãozinha com patê.
    </p>
    </div>
    </div>
    <div class="carousel-item">
    <img src="~/theme/assets/images/hugo&serelepe.png" class="d-block w-45 mx-auto">
    <div class="carousel-caption d-none d-md-block">
    <h5>HUGO & SERELEPE</h5>
    <p>
    Os irmãos Hugo (gatinho) e Serelepe (doguinho) tem 1 aninho, inseparáveis </br>
    justamente por isso, a familia decidiu levar os dois. Hoje eles fazem até comercial de TV</br>
    Lindos né?!
    </p>
    </div>
    </div>
    <div class="carousel-item">
    <img src="~/theme/assets/images/squad.png" class="d-block w-45 mx-auto">
    <div class="carousel-caption d-none d-md-block">
    <h5>SQUAD COMPLETO</h5>
    <p>
    Loucura adotar 2 né? Imagina adotar 7, </br>
    é o caso dessa familia, que adora tanto o site que adotou logo 7 gatinhos.
    </p>
    </div>
    </div>
    <div class="carousel-item">
    <img src="~/theme/assets/images/xarope.png" class="d-block w-45 mx-auto">
    <div class="carousel-caption d-none d-md-block">
    <h5>XAROPE</h5>
    <p>
    Xarope é um cachorrinho de 2 anos, gentil e carinhoso </br>
    a familia ta amando a interação dele com as crianças, fofo né?
    </p>
    </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>*@
</body>
