@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos</h1>
    <p>PúBLICO</p>
</div>

<a asp-area="Usuarios" asp-controller="Home" asp-action="Index"
   class="btn btn-primary">
    Tela Inicial Usuário
</a>

<br />
<br />

<a asp-area="Protetores" asp-controller="Home" asp-action="Index"
    class="btn btn-primary">
    Tela Inicial Protetor
</a>

<br />
<br />

<a asp-area="Protetores" asp-controller="Animal" asp-action="Cadastrar"
   class="btn btn-primary">
    Tela Cadastrar Animal
</a>
