<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar animal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editarModalModalId" class="form-control" />

                <div class="mb-2">
                    <label for="editarModalRaca" class="form-label">Raca <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalRaca" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalEspecie" class="form-label">Especie <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalEspecie" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalSobre" class="form-label">Sobre <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalSobre" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalVacinas" class="form-label">Vacinas <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalVacinas" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalAlergias" class="form-label">Alergias <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalAlergias" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalOutrasInformacoes" class="form-label">OutrasInformacoes <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalOutrasInformacoes" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalFoto" class="form-label">Foto <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalFoto" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalIdade" class="form-label">Idade <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalIdade" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalPeso" class="form-label">Peso <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalPeso" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalAltura" class="form-label">Altura <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalAltura" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalCastrado" class="form-label">Castrado <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalCastrado" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalDataAdocao" class="form-label">DataAdocao <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalDataAdocao" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalGenero" class="form-label">Genero <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalGenero" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalStatus" class="form-label">Status <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalStatus" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalPorte" class="form-label">Porte <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalPorte" class="form-control" />
                </div>

                <div class="mb-2">
                    <label for="editarModalUsuarioId" class="form-label">UsuarioId <span class="text-danger">*</span></label>
                    <input type="text" id="editarModalUsuarioId" class="form-control" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="editarModalSalvar"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>