
<ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-md-2" data-plugin="filterable"
    data-filters="#exampleFilter">
    <li data-type="animal">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Animal Horse</h4>
            </div>
        </div>
    </li>
    <li data-type="object">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Object Coffee</h4>
            </div>
        </div>
    </li>
    <li data-type="object">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Object Cup</h4>
            </div>
        </div>
    </li>
    <li data-type="city">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">City Nature</h4>
            </div>
        </div>
    </li>
    <li data-type="scenery">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">City Station</h4>
            </div>
        </div>
    </li>
    <li data-type="city">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">City Leaf</h4>
            </div>
        </div>
    </li>
    <li data-type="animal">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Animal Bird</h4>
            </div>
        </div>
    </li>
    <li data-type="city">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">City Street</h4>
            </div>
        </div>
    </li>
    <li data-type="animal">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Animal Nature</h4>
            </div>
        </div>
    </li>
    <li data-type="city">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">City Night</h4>
            </div>
        </div>
    </li>
    <li data-type="object">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Object Book</h4>
            </div>
        </div>
    </li>
    <li data-type="object">
        <div class="card card-shadow">
            <figure class="card-img-top overlay-hover overlay">
                <img class="overlay-figure overlay-scale" src="~/theme/global/photos/placeholder.png"
                     alt="...">
                <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                    <a class="icon wb-search" href="~/theme/global/photos/placeholder.png"></a>
                </figcaption>
            </figure>
            <div class="card-block">
                <h4 class="card-title">Object Grape</h4>
            </div>
        </div>
    </li>
</ul>

@section Scripts{

    <script src="~/theme/assets/examples/js/pages/gallery.js"></script>
    }


    @section css{
    <link rel="stylesheet" href="~/theme/assets/examples/css/pages/gallery.css">
}
