@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center" style="margin-top: 80px;">
        <h4 class="">Seus animais</h4>
    </div>

    <div class="position-absolute start-50 translate-middle" style="width: 1000px; margin-top: 750px;">
    <table class="table table-striped table-bordered" id="tabela-animais">
        <thead>
            <tr>
                <th width="20%">Nome</th>
                <th width="50%">Animal</th>
                <th width="15%">Status do animal</th>
                <th width="15%">Ação</th>
            </tr>
        </thead>
    </table>
    </div>

<partial name="EditarModal" />
@*<partial name="VisualizarModal" />*@

    @section Scripts{
        <script src="~/js/animais/animal-datatable.js"></script>
        <script src="~/js/animais/animal-editar.js"></script>
        <script src="~/js/animais/animal-acoes.js"></script>
    }
