<div class="modal fade" id="modalAnimal" tabindex="-1" aria-labelledby="modalAnimalLabel" aria-hidden="true" style="overflow: hidden; width: 60%; margin-left: 20%;">
	<div class="modal-dialog  modal-xl  modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalAnimalLabel">Dados do animal</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<input type="hidden" id="modalAnimalId" class="form-control" disabled="" />
				<div class="row">
					<div class="column left" style="float:left; width:50%">
						<div class="col-3 col-sm-6 mb-2">
							<label for="modalAnimalRaca" class="form-label">Raça</label>
							<input type="text" id="modalAnimalRaca" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalAnimalEspecie" class="form-label">Espécie</label>
							<input type="text" id="modalAnimalEspecie" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalAnimalIdade" class="form-label">Idade</label>
							<input type="text" id="modalAnimalIdade" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalAnimalSobre" class="form-label">Sobre</label>
							<input type="text" id="modalAnimalSobre" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalAnimalPeso" class="form-label">Peso</label>
							<input type="text" id="modalAnimalPeso" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalAnimalAltura" class="form-label">Altura</label>
							<input type="text" id="modalAnimalAltura" class="form-control" style="width: 150%;" disabled="" />
						</div>
					</div>

					<div class="column right" style="float:right; width:50%">
						<div class="col-5 col-sm-6 mb-2">
							<p>Imagem atual</p>
							<img id="modalAnimalFotoCampoImg" height="250px" width="250px" />
						</div>

						<div class="col-4">
							<span class="form-label">Castrado</span>
							<div class="form-check">
								<input type="radio" id="modalAnimalCastradoS" name="modalAnimalCastrado" class="form-check-input" value="true" checked="checked" disabled="" />
								<label class="form-check-label" for="modalAnimalCastradoS">Sim</label>
							</div>
							<div class="form-check">
								<input type="radio" id="modalAnimalCastradoN" name="modalAnimalCastrado" class="form-check-input" value="false" disabled="" />
								<label class="form-check-label" for="modalAnimalCastradoN">Não</label>
							</div>
						</div>

						<div class="col-4">
							<span class="form-label">Gênero</span>
							<div class="form-check">
								<input type="radio" id="modalAnimalDataGeneroF" name="modalAnimalDataGenero" class="form-check-input" value="0" checked="checked" disabled="" />
								<label class="form-check-label" for="modalAnimalDataGeneroF">Feminino</label>
							</div>
							<div class="form-check">
								<input type="radio" id="modalAnimalDataGeneroM" name="modalAnimalDataGenero" class="form-check-input" value="1" disabled="" />
								<label class="form-check-label" for="modalAnimalDataGeneroM">Masculino</label>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

