<div class="modal fade" id="modalProtetor" tabindex="-1" aria-labelledby="modalProtetorLabel" aria-hidden="true" style="width: 60%; margin-left: 20%;">
	<div class="modal-dialog  modal-xl  modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalProtetorLabel">Dados do protetor</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<input type="hidden" id="modalProtetorId" class="form-control" disabled="" />

				<div class="row">
					<div class="col-3 col-sm-6 mb-2">
						<label for="modalProtetorEndereco" class="form-label">Endereço</label>
						<input type="text" id="modalProtetorEndereco" class="form-control" style="width: 182%;" disabled="" />
					</div>
				</div>

				<div class="row">
					<div class="column left" style="float:left; width:50%">

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalProtetorCelular" class="form-label">Celular</label>
							<input type="text" id="modalProtetorCelular" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalProtetorInstagram" class="form-label">Instagram</label>
							<input type="text" id="modalProtetorInstagram" class="form-control" style="width: 150%;" disabled="" />
						</div>
					</div>

					<div class="column center" style="float:left; width:50%">
						<div class="col-3 col-sm-6 mb-2">
							<label for="v" class="form-label">Telefone</label>
							<input type="text" id="modalProtetorTelefone" class="form-control" style="width: 150%;" disabled="" />
						</div>

						<div class="col-3 col-sm-6 mb-2">
							<label for="modalProtetorFacebook" class="form-label">Facebook</label>
							<input type="text" id="modalProtetorFacebook" class="form-control" style="width: 150%;" disabled="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>