<div class="modal fade" id="visualizarModal" tabindex="-1" aria-labelledby="visualizarModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizarModalLabel">Dados do animal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="visualizarModalId" class="form-control" disabled=""/>
                <div class="row">

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalRaca" class="form-label">Raça</label>
                        <input type="text" id="visualizarModalRaca" class="form-control" disabled="" />
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalEspecie" class="form-label">Espécie</label>
                        <input type="text" id="visualizarModalEspecie" class="form-control" disabled="" />
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalSobre" class="form-label">Sobre</label>
                        <input type="text" id="visualizarModalSobre" class="form-control" disabled="" />
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalIdade" class="form-label">Idade</label>
                        <input type="text" id="visualizarModalIdade" class="form-control" disabled="" />
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalPeso" class="form-label">Peso</label>
                        <input type="text" id="visualizarModalPeso" class="form-control" disabled="" />
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalAltura" class="form-label">Altura</label>
                        <input type="text" id="visualizarModalAltura" class="form-control" disabled="" />
                    </div>

                    <div class="col-6">
                        <span class="form-label">Castrado</span>
                        <div class="form-check">
                            <input type="radio" id="visualizarModalCastradoS" name="visualizarModalCastrado" class="form-check-input" value="true" checked="checked" disabled="" />
                            <label class="form-check-label" for="visualizarModalCastradoS">Sim</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="visualizarModalCastradoN" name="visualizarModalCastrado" class="form-check-input" value="false" disabled="" />
                            <label class="form-check-label" for="visualizarModalCastradoN">Não</label>
                        </div>
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalDataAdocao" class="form-label">Data da adoção</label>
                        <input type="text" id="visualizarModalDataAdocao" class="form-control" disabled="" />
                    </div>

                    <div class="col-6">
                        <span class="form-label">Gênero</span>
                        <div class="form-check">
                            <input type="radio" id="visualizarModalDataGeneroF" name="visualizarModalDataGenero" class="form-check-input" value="0" checked="checked" disabled="" />
                            <label class="form-check-label" for="visualizarModalDataGeneroF">Feminino</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="visualizarModalDataGeneroM" name="visualizarModalDataGenero" class="form-check-input" value="1" disabled="" />
                            <label class="form-check-label" for="visualizarModalDataGeneroM">Masculino</label>
                        </div>
                    </div>

                    <div class="col-4 col-sm-6 mb-2">
                        <label for="visualizarModalUsuarioId" class="form-label">Foi adotado por</label>
                        <input type="text" id="visualizarModalUsuarioId" class="form-control" disabled="" />

                    <div class="col-4 col-sm-6 mb-2">
                        <p>Imagem atual</p>
                        <img id="visualizarModalFotoCampoImg" width="400" />
                    </div>

                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Sair</button>
            </div>
        </div>
    </div>
</div>
