@using Entra21.MiAuDota.Repositorio.Entidades
@using Entra21.MiAuDota.Servico.Helpers
@model List<Animal>

<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Galeria de animais</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<style type="text/css">
		body {
			background-color: #FDECEB;
		}

		.main {
			margin: 1.5rem;
		}

		#area-titulo {
			text-align: center;
			margin: 0 0 1.5rem 0;
		}

		#area-busca {
			padding: 1rem;
			margin: 0 0 1.5rem 0;
			background-color: white;
			border-radius: 0.375rem;
		}

		h3 {
			color: #8E37A6;
			font-weight: 500;
			font-size: 28px;
			padding: 0;
			margin: 0;
		}

		.brand-img {
			max-width: 200px;
			max-height: 150px
		}

		.form-select {
			border-color: #582B5C;
			color: #8f8f8f;
			font-size: 16px;
		}

		.btn-buscar {
			background-color: #582b5cc9;
			border-color: #582b5cc9;
			border-width: 1px;
			border-radius: 0.375rem;
			color: white;
			padding: 6px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 18px;
			font-weight: 500;
			margin: 4px 2px;
			transition-duration: 0.4s;
            margin-left: 20%;
			margin-right: 20%;
			width: 60%;
		}

			.btn-buscar:hover {
				background-color: #582B5C;
				border-color: #582B5C;
				color: white;
			}

		.span {
			width: 50px;
			height: 50px;
		}

		.card {
			border-color: #582b5cc9;
			border-width: 1px;
			border-radius: 0.375rem;
		}

		.card-title {
			color: #8E37A6;
			text-align: center;
			text-decoration: none;
			font-size: 22px;
			font-weight: 500;
		}

		.card-text {
			color: #8E37A6;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			font-weight: 500;
		}

		footer {
			background-color: #FBC5DF;
			color: #582b5cc9;
			bottom: 0;
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="main">
		<div id="area-titulo">
			<h3 style="margin-top: 80px">Encontre seu amigo!</h3>
		</div>

		<div id="animais">
			<div id="grid-pet">
				<div class="row row-cols-1 row-cols-md-4 g-4">
					@foreach (var animal in Model)
					{
						if (animal.Status == Repositorio.Enum.StatusInstituicao.AptoParaAdocao)
						{
							<div class="col">
								<div class="card" asp-area="Publico" asp-controller="Animal" asp-action="exibirAnimal">
									<img src="/Uploads/Animais/@animal.Foto" class="card-img-top" alt="..." />
									<div class="card-body">
										<h5 class="card-title">@animal.Nome</h5>
										<p class="card-text">@animal.Genero - @animal.Porte</p>
										<a type="submit" class="btn-buscar" href="https://miaudota.azurewebsites.net/logon">Mais informações</a>
									</div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


	<footer class="text-light" style="margin-top: 40px">
		<div class="container-fluid py-3">
			<div class="row">				
				<div class="col-8">
					<p style="color: #582b5cc9">
						&emsp;Nos ajude a fazer a diferença, juntos podemos ajudar os animais que precisam de um lar!<br />
						&emsp;Se precisar, nos chame no suporte em nossas redes sociais.
					</p>
					<ul class="nav">
						<li class="nav-link"><a href="https://pt-br.facebook.com/" target="_blank"><img src="~/theme/assets/images/facebook.svg" /></a></li>
						<li class="nav-link"><a href="https://www.instagram.com/" target="_blank"><img src="~/theme/assets/images/instagram.svg" /></a></li>
						<li class="nav-link"><a href="https://linktr.ee/miaudota" target="_blank"><img src="~/theme/assets/images/pessoas.svg" /></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>