<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/theme/assets/images/paws.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>MiAuDota</title>
    <style type="text/css">
        h5 {
            font-size: 20px;
            color: #8E37A6;
        }
    </style>
</head>

<body class="bodyNav">
    <nav class="navbar navbar-light bg-faded fixed-top" style="background-color: #FDE3F0; border-color: #000;">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="Publico" asp-controller="Home" asp-action="Index">
                <img src="~/theme/assets/images/logopreview.png-removebg-preview.png" alt="Logo" width="50" height="35" class="d-inline-block align-text-top">
                MiAuDota
            </a>
            <button id="teste" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: #FDE3F0; border-color: #000;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><b>MENU</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="https://miaudota.azurewebsites.net/" style="font-size: 15px; color: #8E37A6;"><b>Página Inicial</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="font-size: 15px; color: #8E37A6;" asp-area="Publico" asp-controller="Animal" asp-action="Index"><b>Animais para adoção</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="font-size: 15px; color: #8E37A6;" asp-area="Publico" asp-controller="Usuario" asp-action="Cadastrar"><b>Cadastre-se para adotar um animal</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="font-size: 15px; color: #8E37A6;" asp-area="Publico" asp-controller="Protetor" asp-action="Cadastrar"><b>Cadastre-se para divulgar um animal</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="font-size: 15px; color: #8E37A6;" asp-area="Publico" asp-controller="Logon" asp-action="Index"><b>Fazer login</b></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="bg-image">
        <div style="background-image: url('https://t4.ftcdn.net/jpg/00/26/80/33/360_F_26803377_fFNCrwUbzm7Ye6b3UP15VHwzWqU0Xcs3.jpg');"></div>
    </div>

    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



