@{
    ViewData["Title"] = "Home page";
}

<head>
    <style type="text/css">
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            opacity: 1;
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        h1 {
			color: black;
			font-size: 30px;
			font-weight: 700;
		}

		.texto-carrossel {
			color: black;
			font-size: 20px;
			font-weight: 700;

		}

		.carousel-caption {
			margin-bottom: 10px;
		}

		p {
			color: black;
			font-size: 17px;
		}

		footer {
			margin-left: 70px;
			color: #582b5cc9;
		}

    </style>
</head>
<body class="page" style="background-image: linear-gradient(90deg, #FDE3F0 0%, #FA9FCA 50.52%, #FDE3F0 100%)">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item">
				<img class="bd-placeholder-img" width="100%" height="50%" src="~/theme/assets/images/8cat.jpg" preserveAspectRatio="xMidYMid slice">
				<div class="container">
					<div class="carousel-caption">
						<h1>Sabe quantos animais precisam de um lar no Brasil?</h1>
						<div class="texto-carrossel">
							São quase 185 mil animais abandonados ou resgatados sob a tutela de ONGs ou protetores<br />
							e cerca de 3,9 milhões estão em condição de vulnerabilidade no país.
						</div>
					</div>
				</div>
			</div>
            <!--Pronto-->
            <div class="carousel-item">
				<img class="bd-placeholder-img" width="100%" height="50%" src="~/theme/assets/images/6pata.jpg" preserveAspectRatio="xMidYMid slice">
				<div class="container">
					<div class="carousel-caption">
						<h1>Castre seus bichinhos!</h1>
						<div class="texto-carrossel">							
							Além de diminuir o número de animais abandonados, traz benefícios para a saúde do seu pet,
							reduzindo problemas de agressividade nos machos e prevenindo o câncer de mama nas fêmeas.
						</div>
					</div>
				</div>
			</div>
            <!--Pronto-->
            <div class="carousel-item active">
				<img class="bd-placeholder-img" width="100%" height="50%" src="~/theme/assets/images/fundo.png.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
				<div class="container">
					<div class="carousel-caption">
						<h1>Sobre o projeto</h1>
						<div class="texto-carrossel">
							Nossa plataforma foi criada para facilitar a procura do amigo ideal para a sua família.<br />
							Conectamos você que quer adotar, aos pets que precisam de um lar.
						</div>
					</div>
				</div>
			</div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <hr class="featurette-divider">

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/theme/assets/images/cute1.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>

                <h2 class="fw-normal">Quero ajudar</h2>
                <p>
                    A nossa plataforma conecta pessoas que querem adotar, a cães e gatos resgatados que precisam de um lar.
					Contribua com o nosso site compartilhando, doando e adotando!
                </p>
                <p><a class="btn btn-secondary" href="https://miaudota.azurewebsites.net/animal" target="_blank">Ver detalhes »</a></p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/theme/assets/images/midia.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>

                <h2 class="fw-normal">Outras formas de ajudar</h2>
                <p>
                    Caso não consiga ajudar com doações, compartilhe esse site com amigos, familiares e conhecidos
					para que tenhamos cada vez mais visibilidade.
                </p>
                <p><a class="btn btn-secondary" href="https://instagram.com/sitiodonalucia?igshid=YmMyMTA2M2Y=" target="_blank">Nossas redes sociais »</a></p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/theme/assets/images/sitesite.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>

                <h2 class="fw-normal">Conheça outros sites de adoção</h2>
                <p>Caso queira pesquisar mais, aqui vai outra dica de site para você!</p>
                <p><a class="btn btn-secondary" href="https://www.amigonaosecompra.com.br/" target="_blank">Ver sites »</a></p>
            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Queda de pelos nos pets: <span class="text-muted">saiba quando se preocupar</span></h2>
                <p class="lead">
                    Eu não sei vocês, mas ver os pelos dos bichinhos voando pela casa é uma coisa que me preocupa.
                    Assim como perder até 100 fios de cabelo por dia é algo normal para os humanos, os cães e gatos também têm uma queda que é normal.
                    Vamos falar um pouquinho sobre cada um desses fatores.<br />


                    <b>Desequilíbrio alimentar</b>
                    É fundamental manter uma alimentação de qualidade, pois é ela que vai garantir todos os nutrientes necessários que vão cuidar não apenas de manter a pancinha cheia,
                    mas também por garantir uma boa saúde, incluindo pelos saudáveis.<br />


                    <b>Problemas dermatológicos</b>
                    Dermatite é uma inflamação na pele que acomete várias áreas do corpo.
                    Mas não se preocupe, há tratamento e seu bichinho pode levar uma vida tranquila,
                    dependendo do estágio em que for diagnosticado o problema.<br />
                </p>

            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/theme/assets/images/Sobre.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Você sabe o que é a Síndrome de <span class="text-muted">Pandora?</span></h2>
                <p class="lead">
                    A Síndrome de Pandora se apresenta com um conjunto de sintomas e distúrbios do trato urinário inferior de felinos.
                    O trato urinário inferior é representado por: rins, ureteres, bexiga, uretra, glândula bulbouretral e nos machos, ainda há a glândula prostática e pênis.
                    Com tantas possibilidades de causas, os sintomas às vezes se misturam também. Mas você sempre pode observar:<br />
                    - Dificuldade para urinar (indo à caixa várias vezes sem conseguir urinar ou mesmo se faz pouquinho xixi);<br />
                    - Xixi fora do lugar;<br />
                    - Se a urina apresenta sangue;<br />
                    - Vômitos (por vezes amarelo, sem bolas pêlos ou vestígios de ração);<br />
                    - Se o felino fica mais quieto que o de costume;<br />
                    - Sobrepeso;<br />
                    - Apresenta pouco ou nenhum apetite.<br />
                    <b>Importante: se o gatinho não for tratado pode morrer!</b>
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/theme/assets/images/pandorateste-removebg-preview.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Responsabilidade afetiva pet, <span class="text-muted">você sabe o que é?</span></h2>
                <p class="lead">
                    Por definição, podemos dizer que responsabilidade afetiva é quando você se responsabiliza pelo sentimento e pelas expectativas que cria nos outros, independente da relação ser romântica ou não.
                    Como os animais, enfim, foram considerados seres sencientes (isso significa que são dotados de sentimentos, sensibilidade e que são capazes de sentir e demonstrar as suas emoções)
                    não ficou margem para dúvidas de que sofrem ao serem abandonados, devolvidos, doados ou ignorados dentro do próprio lar.
                    Já pensou viver em um lar onde te dão comida, água, mas ninguém fala com você, ninguém interage ou pergunta como você está?
                    É impossível ser feliz assim. Nós precisamos de mais que coisas materiais para viver, precisamos de amigos, de alguém que se importe com nossas dores,
                    que se alegrem com nossas conquistas e liguem para ouvir nossa voz. Se importe com o seu pet!
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/theme/assets/images/afeto.png" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
            </div>
        </div>

        <hr class="featurette-divider">

    </div>

    <footer class="text-light" @*style="margin-top: 40px"*@>
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-8">
                    <p style="color: #582b5cc9">
                        <b>
                            Nos ajude a fazer a diferença! Juntos podemos ajudar os animais que precisam de um lar!<br />
                            Se precisar, nos chame no suporte em nossas redes sociais!
                        </b>
                    </p>
                    <ul class="nav">
                        <li class="nav-link"><a href="https://pt-br.facebook.com/" target="_blank"><img src="~/theme/assets/images/facebook.svg" /></a><i class="fab fa-facebook fa-3x "></i></li>
                        <li class="nav-link"><a href="https://www.instagram.com/" target="_blank"><img src="~/theme/assets/images/instagram.svg" /></a><i class="fab fa-instagram fa-3x"></i></li>
                        <li class="nav-link"><a href="https://linktr.ee/miaudota" target="_blank"><img src="~/theme/assets/images/pessoas.svg" /></a><i class="fab fa-equipe fa-3x"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="float-end" style="margin-right: 15px"><a href="#">Back to top</a></p>
    </footer>
</body>


